@import "tailwindcss";

@theme {
  --color-background: #0F1115;
  --color-gray800-50: rgb(31 41 55 / 50%);
  --color-gray400: #9CA3AF;

  --color-white-5: rgb(255 255 255 / 5%);
  --color-white-3: rgb(255 255 255 / 3%);

  --color-purple500-20: rgb(143 57 248 / 20%);
  --color-purple500-10: rgb(143 57 248 / 10%);
  --color-purple400: rgb(158 134 245);

  --color-green500-20: rgb(34 197 94 / 20%);
  --color-green500-10: rgb(34 197 94 / 10%);
  --color-green400: rgb(74 222 128);

  --color-red500-20: rgb(239 68 68 / 20%);
  --color-red500-10: rgb(239 68 68 / 10%);
  --color-red400: rgb(248 113 113);

  --font-sans: "Pretendard", sans-serif;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@layer base {
  html, body {
    @apply flex w-screen h-screen bg-background text-gray400;
  }
}

@layer components {
  .panel-base {
    @apply flex flex-col items-center bg-white-3 border border-white-5 rounded-[1.04vw];
  }
  .panel-title {
    @apply text-[2.5vh] font-bold text-white;
  }
}